<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotbot2 Setup Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Spotbot2 Setup</h1>
    <h3>Spotify Playlist Info</h3>
    <p>The amount of songs in the playlist are: {{ num_songs }} </p>
    <form action="{{ url_for('link_spotify') }}" method="get">
        <button type="submit">Link Spotify</button>
    </form>

    <form action="{{ url_for('continue_setup') }}" method="post">
        <button type="submit">Continue Setup</button>
    </form>

    <form action="{{ url_for('close_app') }}" method="post">
        <button type="submit">Close App</button>
    </form>
</body>
</html>
