<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Playlist Info</title>
</head>
<body>
    <h1>Continued Setup</h1>
    <p>Welcome to the Setup Page for our steps it will be like this</p>
    <ol>
        <li>Set up Spotify Side</li>
        <li>Set Discord Side</li>
        <li>Customize install</li>
        <li>Deploy</li>
        <li>Advanced Setup</li>
    </ol>
    <p>If you know what to do / have it done & are looking to do an advanced setup please click here</p>
    <form action="{{ url_for('index') }}" method="get">
        <button type="submit">Previous</button>
    </form>
    <form action="{{ url_for('advanced_setup') }}" method="get">
        <button type="submit">Advanced Setup Page</button>
    </form>
    <p>#1: Spotify Setup </p>
    <ul>Please go to: <a href="https://developer.spotify.com/dashboard">Spotify Developer Webpage</a></ul>
    <ul>You need to click login at the top right hand corner of the page </ul>
    <ul>After logging in with your Spotify account, you want to select create app</ul>
    <ul>Once your app has been created you need to give it:</ul>
    <ol>
        <li>App Name</li>
        <li>App Description</li>
        <li>Redirect URI's</li>
        <p>For the Redirect URIs please use the following, copy and paste one by one, ensure to click add on the dev portal</p>
        <p>http://127.0.0.1:5000/</p>
        <p>http://127.0.0.1:5000/redirect</p>
        <p>http://localhost:5000/callback/</p>
        <p>http://localhost:5000/redirect</p>
        <p>http://localhost:5000/redirect/</p>
        <p>http://127.0.0.1:5000/callback</p>
        <p>http://localhost:5000/callback</p>
        <li>Then select the Web API checkbox, this is the only API you will need</li>
        <li>Then read and agree with the dev terms of service, and then click save</li>
        <li>Next after clicking save, click on settings</li>
        <li>Copy the Client ID & copy and paste it here:</li>
        <form action="{{ url_for('save_setup') }}" method="post">
            <input type="text" id="client_id" name="client_id" required><br><br>
            <li>View the Client Secret & copy and paste it here:</li>
            <input type="text" id="client_secret" name="client_secret" required><br><br>
        </form>
        <p>#2: Discord Setup </p>
        <ul>Please go to: <a href="https://discord.com/developers">Discord Developer Webpage</a></ul>
        <ul>Login with your discord credentials</ul>
        <ul>After logging in with your Discord account, you want to be on the applications tab</ul>
        <ul>On the applications tab you want to select the New Application button</ul>
        

        <button type="submit">Save</button>
    </ol>
</body>
</html>
