<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Playolst Info</title>
</head>
<body>
    <h1>Continued Setup</h1>
    <p>Welcome to the Setup Page for our steps it will be like this</p>
    <p></p>
    <ol>1. Set up Spotify Side</ol>
    <ol>2. Set Discord Side</ol>
    <ol>3. Customize install</ol>
    <ol>4. Deploy</ol>
    <p>#1: First Spotify, Please go to: link here and create an app</p>
    <p></p>
    <p>You do this by blah blah blah</p>

</body>
</html>